@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/fonts' as *;

.teams-table {
    background-color: $light-yellow;

    &__data-container {
        font-family: 'Benne';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header-container {
        padding: 1rem;
    }

    &__row {
        width: 30rem;
        height: 35rem;
        overflow: hidden;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: $white;
        margin: 1rem;
        font-family: 'Benne';
    
        &:hover {
        background: linear-gradient(275deg, #072bf7, #ff0000);
        color: $white;
        }
    }
}

.col-md-3 {
    padding: 1rem;
    font-size: 1.5rem;
}


.col-md-8 {
    width: 26rem;
    height: 8rem;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: $white;
    margin: 1rem;
    font-family: 'Benne';

    &:hover {
    background: linear-gradient(275deg, #ff0000, #072bf7);
    color: $white;
    }
}

.row3 {
    display: flex;
}