@font-face {
    font-family: 'LMS I Love This Game';
    src: url('../assets/fonts/LMSILoveThisGame.woff2') format('woff2'),
        url('../assets/fonts/LMSILoveThisGame.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benne';
    src: url('../assets/fonts/Benne-Regular.woff2') format('woff2'),
        url('../assets/fonts/Benne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
