// color scheme
$dark-teal: #2a6562;
$teal: #22aba1;
$light-yellow: #fef2bd;
$orange: #ea8f2e;
$maroon: #ba563e;

//text colors
$white: #ffffff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;

// breakpoints
$breakpoint-large-phone: 450px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;